<html>
	<head>
		<title>Melissa's Blog</title>
	</head>
	<body>
		<div>
			<h1>Django Blog</h1>
			<h3>Chasing the Pony</h3>
			<img src="http://www.tdd-django-tutorial.com/static/images/django_pony2.png" alt="Pony">
		</div>
		<div>
			<h2><a href="http://www.google.com">First Post</a></h2>
			<p>Here's a quick quote from my first post which will be awesome.</p>
			<p>Published on 12.12.2016</p>
		</div>
		<div>
			<h2><a href="http://www.xkcd.com">Second Post</a></h2>
			<p>Back again, I see to read about the adventures of a lady programmer in Python.  </p>
			<p>Published on 12.18.2016</p>
		</div>
	</body>
</html>