<html>
    <head>
        <title>Melissa's Blog</title>
    </head>
    <body>
        <div>
            <h1>Django Blog</h1>
            <h3>Chasing the Pony</h3>
            <img src="http://www.tdd-django-tutorial.com/static/images/django_pony2.png" alt="Pony">
        </div>
        <div>
            {% for post in posts %}
                <div>
                    <p>Published:  {{ post.published_date }}</p>
                    <h1><a href="">{{  post.title  }}<a/></h1>
                    <p>{{ post.text|linebreaks }}</p>
                </div>
            {% endfor %}
    </body>
</html>